<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dev Progress{% endblock %}</title>

    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Dashboard</a>
            <a href="/add_project">Add Project</a>
            <a href="/history">History</a>
        </div>

        <div class="nav-right">
            {% if session.user_id %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% block main %}{% endblock %}
    </main>

</body>
</html>